<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
</head>
<body>
    <div class="menu_bar">
        <h1 class="logo">Medi<span>Test</span></h1>
        <ul>
            <li><a href="\">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Predict <i class="fas fa-caret-down"></i></a>
                <div class="dropdown_menu">
                    <ul>
                        <li><a href="\bch">Breast Cancer Using Histopathological Image</a></li>
                        <li><a href="\breastcancer">Breast Cancer Using FNA Test Report</a></li>
                        <li><a href="\parkinsons">Parkinson Disease</a></li>


                    </ul>
                </div>
            
            </li>
            <li><a href="\consultancy">Consultancy</a></li>

        </ul>
    </div>
    
    <div class="row">
        <div class="column">
            <div class="a_title">
                
               <b>WE ARE MEDITEST.AN END-TO-END DIGITAL HEALTHCARE PLATFORM!</b> 
            </div>
            <br>
        
            <div class="a_what">
                    
                Combining a doctor’s expertise with a computer’s algorithmic results can reduce errors in the diagnosis and treatments of patients.
                Furthermore, health informatics facilitates communication between patients and doctors and makes remote medical care possible. Finally, computer technology comes with 
                better coordination and management – utilities like electronic health records and digital apps make it easier for patients to monitor their health and receive accurate, 
                reliable medical advice.
                When we talk about human lives and health, any technologies that can give more efficient, helpful, and faster analysis to hand out a proper treatment plan in time are 
                tremendously valuable. Artificial Intelligence and its subdivision Machine Learning is taking over the world right now.
                We have already enough research to prove that Machine Learning often surpasses humans in the diagnosis of disease. Algorithms
                are already doing a better job spotting malignant tumors than actual radiologists. Machine Learning for healthcare technologies provides algorithms with self-learning neural networks 
                that are able to increase the quality of treatment by analyzing external data on a patient’s condition, their X-rays, CT scans, various tests, and screenings. Also, worth mentioning, 
                deep learning is now largely used for detecting cancer cells. The model is given tons of cancer cell pictures to “memorize” their look.
                At the current moment, ML in Healthcare provides technologies that directly contribute to the future of advanced medical diagnostics as well as the future of medicine.
               
             
            </div>
            
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
            

            <div class="copyright">
                <h4>&copy MediTest</h4>
            </div>

        </div>
        <div class="column">
            <img src="/static/image/Deep-Genomics.png" width="600" height="600">
        </div>
      </div>



</body>
</html>