<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Breast Cancer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="menu_bar">
        <h1 class="logo">Medi<span>Test</span></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Predict <i class="fas fa-caret-down"></i></a>
                <div class="dropdown_menu">
                    <ul>
                        <li><a href="/bch">Breast Cancer Using Histopathological Image</a></li>
                        <li><a href="/breastcancer">Breast Cancer</a></li>
                        <li><a href="/parkinsons">Parkinson Disease</a></li>

                    </ul>
                </div>
            
            </li>
            <li><a href="\consultancy">Consultancy</a></li>
           

        </ul>
    </div>

    <div class="breastcancer">
        <h1>BREAST CANCER</h1>
        <h4>ENTER THE VALUE OF THE TUMOR FEATURES FROM FINE NEDDLE ASPIRATION TEST</h4>

         
    <form class="input" action="{{ url_for('predict1')}}" method="post"> 
        <input type="text" name="mean_radius" placeholder="mean radius" required />
        <input type="text" name="mean_texture" placeholder="mean texture" required="required" />
		<input type="text" name="mean_perimeter" placeholder="mean perimeter" required="required" />
		<input type="text" name="mean_area" placeholder="mean area" required="required" />
        <input type="text" name="mean_smoothness" placeholder="mean smoothness" required="required" />
		<input type="text" name="mean_compactness" placeholder="mean compactness" required="required" />
		<br>
    	<input type="text" name="mean_concavity" placeholder="mean concavity" required="required" />
        <input type="text" name="mean_concave_points" placeholder="mean concave points" required="required" />
		<input type="text" name="mean_symmetry" placeholder="mean symmetry" required="required" />
    	<input type="text" name="mean_fractal_dimension" placeholder="mean fractal dimension" required="required" />
        <input type="text" name="radius_error" placeholder="radius error" required="required" />
		<input type="text" name="texture_error" placeholder="texture error" required="required" />
		<br>
    	<input type="text" name="perimeter_error" placeholder="perimeter error" required="required" />
        <input type="text" name="area_error" placeholder="area error " required="required" />
		<input type="text" name="smoothness_error" placeholder="smoothness error" required="required" />
    	<input type="text" name="compactness_error" placeholder="compactness error" required="required" />
        <input type="text" name="concavity_error" placeholder="concavity error" required="required" />
		<input type="text" name="concave_points_error" placeholder="concave points error" required="required" />
    	<br>
    	<input type="text" name="symmetry_error" placeholder="symmetry error" required="required" />
        <input type="text" name="fractal_dimension_error" placeholder="fractal dimension error" required="required" />
		<input type="text" name="worst_radius" placeholder="worst radius" required="required" />
    	<input type="text" name="worst_texture" placeholder="worst texture" required="required" />
        <input type="text" name="worst_perimeter" placeholder="worst perimeter" required="required" />
		<input type="text" name="worst_area" placeholder="worst area" required="required" />
		<br>
    	<input type="text" name="worst_smoothness" placeholder="worst smoothness" required="required" />
        <input type="text" name="worst_compactness" placeholder="worst compactness" required="required" />
		<input type="text" name="worst_concavity" placeholder="worst concavity" required="required" />
    	<input type="text" name="worst_concave_points" placeholder="worst concave points" required="required" />
        <input type="text" name="worst_symmetry" placeholder="'worst symmetry" required="required" />
		<input type="text" name="worst_fractal_dimension" placeholder="worst fractal dimension" required="required" />
        <br>
        <br>
        
     
        

        <div class="submit_button">
            <button type="submit">PREDICT</button>
            <input type="reset" name="RESET" value="RESET">
        </div>

        </form>

        <div class="prediction_text">
            <center>
        <h1>{{ prediction_text }}</h1>
            </center>
        </div>

    </div>
    
</body>
</html>