<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultancy</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="menu_bar">
        <h1 class="logo">Medi<span>Test</span></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Predict <i class="fas fa-caret-down"></i></a>
                <div class="dropdown_menu">
                    <ul>
                        <li><a href="/bch">Breast Cancer Using Histopathological Image</a></li>
                        <li><a href="/breastcancer">Breast Cancer</a></li>
                        <li><a href="/parkinsons">Parkinson Disease</a></li>

                    </ul>
                </div>
            
            </li>
            <li><a href="#">Consultancy</a></li>
           

        </ul>
    </div>
    
    <div class="c_intro">
        <h1>LIST OF DOCTORS</h1>
    </div>

    <div class="doctorslist">
        <div class="one">
            <img src="/static/image/morshed-uddin-akand.jpg" alt="morshed-uddin-akand" class="morshed" >
            <h3>Dr. Morshed Uddin Akand</h3>
            <h4>Consultant Breast Surgeon</h4>
            <h5>MBBS (DMC), FCPS</h5>
            <h5>Works at BIRDEM Hospital, Shahbag</h5>
            <h5>Dhaka, Bangladesh</h5>
            <div class="contact_morshed"> 
                <a href="mailto:morshed@gmail.com">Send Email</a>
                <br>
                <a href="tel:555-666-7777">555-666-7777</a>
            </div>            
        </div>

        <div class="two">
            <img src="/static/image/drjalaluddin.jpg" alt="jalaluddin" class="jalaluddin" >
            <h3>DR. JALAL UDDIN MOH. RUMI</h3>
            <h4>ASSISTANT PROFESSOR, NEUROSURGERY</h4>
            <h5>MBBS, MS (General Surgery), MS (Neurosurgery)</h5>
            <h5>Dhaka, Bangladesh</h5>
            <div class="contact_jalaluddin"> 
                <a href="mailto:jalaluddin@gmail.com">Send Email</a>
                <br>
                <a href="tel:555-666-9999">555-666-9999</a>
            </div>    
        </div>
    </div>
    




    
</body>
</html>